<div class="bg-img"></div>
<div class='content-raffle'>
  <div class="m-5" style="color:white">
    <h2 class="d-flex justify-content-center">Raffles Index</h2><br>
    <div class="cards">
      <% @raffles.each do |raffle| %>
        <div class="box">
          <div class="card-content creator-index-card">
            <h3><%= link_to raffle.name, raffle_path(raffle), style:'color: #568FB3;'%></h3>
            <p>Tags:</p>
            <p class='font-16'>#<%= raffle.tag1 %></p>
            <p class='font-16'>#<%= raffle.tag2 %></p>
            <p class='font-16'>#<%= raffle.tag3 %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
