// Import page-specific CSS files here
@import "show";
@import "new";

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 14px;
}

.creator-index-card {
  max-width: 100%;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.4);
  margin:5px;
  background-color: rgba(255, 255, 255, 0.09);

  a {
    color: #568FB3;
  }
}
