.download-container {
  color: white;
  width: 100%;
  min-height: 82vh;
  position:relative;
  margin-top: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.bg-img{
    background-image: url('banner.jpg');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: fixed;
    min-height: 100vh;
    filter: blur(9px)
}

.heading-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}

.files-info {
  background-color: rgba(0,0,0, 0.65);
  box-shadow: 2px 2px 3px 0px rgba(255, 255, 255, 0.3);
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  text-overflow: ellipsis;
  padding: 5px;
  margin-bottom: 50px;
}
