.download-container {
  color: white;
  width: 100%;
  position:relative;
  padding-top:30px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.bg-img{
    background-image: url('banner.jpg');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: fixed;
    min-height: 100vh;
    filter: blur(9px)
}

.downloads {
  background-color: rgba(255, 255, 255, 0.0);
  box-shadow: 1px 1px 3px 0px rgba(255, 255, 255, 0.4);
  border-radius: 9px;
  color:white;
}
