#main-content {
  background-image: url("../images/banner.jpeg");
  object-fit: contain;
}
.transaction-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transact {
  display: flex;
  flex-direction: column;
}
