<div class="banner">
  <div class="banner-container">
    <div class="banner1-title">
    <h1>PaleBlue.is </h1>
    </div>
    <div class="center-banner">
      <div class="carousel-banner">
        <div class="pre-banner">the place to </div>
        <div class="change_outer-banner">
          <div class="change_inner-banner">
            <div class="element-banner">#{Donate}</div>
            <div class="element-banner">#{Contribute}</div>
            <div class="element-banner">#{Pitch in}</div>
            <div class="element-banner">#{Reward}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons-banner">
      <div class= "button-banner-1" >
        <a class="btn btn-ghost" href="">Quick Donate</a>
      </div>
      <div class= "button-banner-2" >
        <a class="btn btn-ghost" href="">Web3 + Philanthropy</a>
      </div>
    </div>
  </div>
</div>
