

<div class="banner">
  <div class="container" style="color: white; display: flex; flex-direction: column; margin-left: 150px;" id="bottom-banner-content">
    <div class="text-banner">
      <h1>PaleBlue.is </h1>
        <div class="center-banner">
          <div class="carousel-banner">
            <div class="pre-banner">the place to </div>
            <div class="change_outer-banner">
              <div class="change_inner-banner">
                <div class="element-banner">#{Donate}</div>
                <div class="element-banner">#{Contribute}</div>
                <div class="element-banner">#{Pitch in}</div>
                <div class="element-banner">#{Reward}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class= "button-banner" style= "position: relative; right: -160px; top: 270px;" >
      <a class="btn btn-ghost" href="#">Donate</a>
    </div>
  </div>
</div>
