<div class="banner-title" style="background-color: black;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="animate-charcter"> TRENDING NFTs</h1>
      </div>
    </div>
  </div>
</div>
