<div class="banner3-content">
  <div class= "banner3">
    <div class= "text-banner3">
      <h2>Become a Super-Hero</h2>
      <h4>Start making more genuine connections now.</h4>
      <h5>Access our community of modern-day philanthropists to see the direct impact they're making.
      <br> Connect your nonprofit to our ecosystem for free and prosper <i class="fas fa-heart"></i></h5>
    </div>
    <div class= "button-banner3">
      <a class="btn btn-ghost-inverted" style="width: 170px;" href="/creators/new">Be a Fundraiser</a>
    </div>
  </div>
  <div class="animation-banner3">
    <div id="space">
      <div class="space_field_wrapper">
        <div class="space_field mother">
          <div class="planet"></div>
        </div>
      </div>
      <div class="space_field_wrapper">
        <div class="space_field satellite">
          <div class="planet"></div>
        </div>
      </div>
      <div class="space_field_wrapper">
        <div class="space_field satellite">
          <div class="planet"></div>
        </div>
      </div>
      <div class="space_field_wrapper">
        <div class="space_field satellite">
          <div class="planet"></div>
        </div>
      </div>
    </div>
  </div>
</div>
