<div class="banner2" style="margin-top: -130px">
  <div>
    <div class="banner2-animation">
      <%= render "shared/planet_animation" %>
    </div>
  </div>
  <div class="banner2">
    <div class="text-banner2">
      <br><br>
      <h2>  Take back control</h2>
      <h4>  Experience the true feeling of giving like it’s in-person.</h4>
      <h5>  No longer blindly throw money into a tin. See the end recipient,
      give directly to them and get real-time updates. Give on your terms
      just like any good philanthropist.</h5>
    </div>
  </div>
  <div>
    <div class= "button-banner2">
      <a class="btn btn-ghost-inverted" href="#">Donate</a>
    </div>
  </div>
</div>
