<div>
  <div class= "banner3">
    <div class= "text-banner3">
      <h2>Donor-first, so they last</h2>
      <h4>Kill fundraising fatigue, not your donor's enthusiasm.</h4>
      <h5>Access our community of modern-day philanthropists who see the direct impact <br>
      they're making and continue to follow your journey — chipping in with continual
      support along the way. <br> Your supporters have less barriers and more reasons to get behind the causes they
       love. Start making more genuine connections now. <br> Activate the next generation of donors. Connect your nonprofit to our ecosystem for free and prosper <i class="fas fa-heart"></i></h5>
    </div>
    <div class= "button-banner3">
      <a class="btn btn-ghost" href="#">Be a Fundraiser</a>
    </div>
  </div>
</div>
