<div class="banner-show">
  <div>
    <div class="goodat-boxes colset3 center clearfix" style="margin: 0px 80px;">
      <div class="floft goodat-box goodat-box01">
        <h3>Web3 is the new way to do charity</h3>
        <p class="t">Start instantly, earn crypto donations + royalties, and build a supportive community around your mission. <br>
        More Transparent and Traceable Donation Process. <br>
        More Secure than Regular Cash Donations. <br>
        Can be Used Anywhere in the World.</p>
      </div>
      <div class="floft goodat-box goodat-box02">
        <h3>Non Fungible Raffles</h3>
        <p class="t">We use Non Fungible Tokens minted on the blockchain to function as Raffle tickets for physical and digital art, collectibles, and other rare objects. <br>
        NFTs can represent real-world items like artwork and real estate. <br>
        "Tokenizing" these real-world tangible assets makes buying, selling, and trading them more efficient while reducing the probability of fraud. </p>
      </div>
      <div class="floft goodat-box goodat-box03">
        <h3>How Does It Work?</h3>
        <p class="t">1. To participate in the raffle, pick the corresponding NFT Raffle Ticket. <br> 2. After all tickets are sold, a Random Number Generator will determine the winning NFT Raffle Ticket by unique PaleBlue Token. <br> 3. The Wallet Address holding the winning NFT Raffle Ticket will recieve a unique 'Winners NFT' which will have unlockable content allowing the winner to claim the piece.</p>
      </div>
    </div>
  </div>
  <div>
    <div class="goodat-boxes colset3 center clearfix" style="margin: 0px 80px 60px;">
      <div class="floft goodat-box goodat-box01">
        <h3>Why NFTs Are Important</h3>
        <p class="t">Non-fungible tokens are an evolution of the relatively simple concept of cryptocurrencies. Modern finance systems consist of sophisticated trading and loan systems for different asset types, ranging from real estate to lending contracts to artwork. By enabling digital representations of physical assets, NFTs are a step forward in the reinvention of this infrastructure.</p>
      </div>
      <div class="floft goodat-box goodat-box02">
        <h3>The New Charitable Powers of Web3</h3>
        <p class="t">Web3 enables coordination, cash transfer, and congruence. These three C’s are the foundations to the future of charitable giving, unlocking new strategies such as NFT giving, gamified giving, staked yield giving, and more. </p>
      </div>
      <div class="floft goodat-box goodat-box03">
        <h3>Does donating to charity help with taxes?</h3>
        <p class="t">You may be wondering if donating crypto to charity can help you with taxes. The answer is yes, it can! There are many different ways that you can give back to the world and reduce your tax obligations. And giving crypto to charity is one of them. </p>
      </div>
    </div>
  </div>


</div>
