<div class="banner-show">
  <div>
    <div class="goodat-boxes colset3 center clearfix" style="margin: 0px 80px;">
      <div class="floft goodat-box goodat-box01">
        <h3>Trace individual donation</h3>
        <p class="t">Web 3 creates a fully auditable chain of giving. Show donors exactly which person their money helped</p>
      </div>
      <div class="floft goodat-box goodat-box02">
        <h3>Non Fungible Raffles</h3>
        <p class="t">We use Non Fungible Tokens minted on the blockchain to function as Raffle tickets for physical and digital art, collectibles, and other rare objects. <br></p>
      </div>
      <div class="floft goodat-box goodat-box03">
        <h3>How Does It Work? </h3>
        <p class="t">
        1. To participate in the raffle, pick the corresponding NFT Raffle Ticket. <br> 2. After all tickets are sold, a Random Number Generator will determine the winning NFT Raffle Ticket by unique PaleBlue Token. <br> 3. The Wallet Address holding the winning NFT Raffle Ticket will recieve a unique 'Winners NFT' which will have unlockable content allowing the winner to claim the piece.</p>
      </div>
    </div>
  </div>
  <div>
    <div class="goodat-boxes colset3 center clearfix" style="margin: 0px 80px 60px;">
      <div class="floft goodat-box goodat-box01">
        <h3>Enable transnational donations</h3>
        <p class="t">Show clearly where each individual donation came from and demonstrate tax and regulatory compliance</p>
      </div>
      <div class="floft goodat-box goodat-box02">
        <h3>The New Charitable Powers of Web3</h3>
        <p class="t">Cooperate across agencies, geography and political borders to deliver emergency aid cohesively and rapidly</p>
      </div>
      <div class="floft goodat-box goodat-box03">
        <h3> <br>Does donating to charity help with taxes?</h3>
        <p class="t">You may be wondering if donating crypto to charity can help you with taxes. The answer is yes, it can! There are many different ways that you can give back to the world and reduce your tax obligations. And giving crypto to charity is one of them. </p>
      </div>
    </div>
  </div>


</div>
