<div class="banner-show-content">
  <%= render "shared/banner_title2" %>
  <div class="banner-show" href="#pale-blue-how">
    <div>
      <div class="goodat-boxes colset3 center clearfix" style="margin: 0px 80px;">
        <div class="floft goodat-box goodat-box01">
          <h3>The big idea</h3>
          <p class="t">Charitable giving is broken and we are fixing it. PaleBlue  is a giving platform that leverages social sharing and applies technology to enable transparency, efficiency and accountability not otherwise possible.</p>
        </div>
        <div class="floft goodat-box goodat-box02">
          <h3>Trace individual donation</h3>
          <p class="t">Web 3 creates a fully transparent chain of giving. Allow donors to trace where their donated money was applied.</p>
        </div>
        <div class="floft goodat-box goodat-box03">
          <h3> <br>We never share your info</h3>
          <p class="t">Have you ever donated to charity and afterwards you have been bombarded by spam? Sketchy middlemen agencies take you for suckers and on-sell your details. Take the sucker-free approach with our secure platform. </p>
        </div>
      </div>
    </div>
  </div>
</div>
