<div class="planet-animation">
  <div class="planet-holder">
    <div class="planet">
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
    </div>

    <div class="outer">
      <div class="outerClouds"></div>
      <div class="outerClouds"></div>
      <div class="outerClouds"></div>
      <div class="outerClouds"></div>
      <div class="outerClouds"></div>
      <div class="outerClouds"></div>
      <div class="outerClouds"></div>
    </div>

  </div>
</div>
