 <div class="rowcards">
  <div class="container">
    <div class="card">
      <div class="box">
        <div class="content">
          <h3>Step 1</h3>
          <p>To participate in the raffle, click on the piece you are interested in to purchase the corresponding NFT Raffle Ticket.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h3>Step 2</h3>
          <p>After all tickets are sold or burned, a Random Number Generator will determine the winning NFT Raffle Ticket by edition number.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h3>Step 3</h3>
          <p>The Wallet Address holding the winning NFT Raffle Ticket will recieve a unique 'Winners NFT' which will have unlockable content allowing the winner to claim the piece.</p>
        </div>
      </div>
    </div>
  </div>
</div>
