<div class="step-banner" style="display: flex; margin: 0px 150px;">
  <div class="step-by-step">
    <p>To participate in the raffle, click on the piece or donation <br> you are interested in and reedem a raffle ticket.</p>
    <p>After raffle is over, a Random Number Generator will determine <br>the winning NFT Raffle Ticket by edition number.</p>
    <p>The Wallet Address holding the winning NFT Raffle Ticket will recieve a unique 'Winners NFT' which will have unlockable content allowing the winner to claim the piece. </p>
  </div>
  <div class="rocket-banner">
    <div class="roket-container">
      <div class="wing-left"></div>
      <div class="wing-right"></div>
      <div class="tail"></div>
    <div class="capsule">
      <div class="top">
      <div class="shadow"></div>
      </div>
      <div class="base"></div>
      </div>

      <div class="window-big"></div>
      <div class="window-small"></div>

      <div class="fire-1"></div>
      <div class="fire-2"></div>
      <div class="fire-3"></div>
      <div class="fire-4"></div>

      <div class="spark-1"></div>
      <div class="spark-2"></div>
      <div class="spark-3"></div>
      <div class="spark-4"></div>
    </div>
  </div>
</div>
