<div style="color:white; margin: 60px">
  <h1> <strong>Available Downloads:</strong></h1>
  <% @creators.each do |creator| %>
    <p>Creator: <%= creator.title %></p>
    <p>Example zipfiles for each creator file key</p>
  <% end  %>
</div>
