<div class="bg-img"></div>
<div class="download-container">
  <div class="downloads p-3">
  <h1>Available Downloads:</h1>
  <% @creators.each do |creator| %>
    <p>Creator: <%= creator.title %></p>
    <p>Example zipfiles for each creator file key</p>
  <% end  %>
  </div>
</div>
