.banner {
  background-image: url("banner.jpeg");
  background-color: black;
  height: 100vh;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  width: 400px;
}


.banner-container {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 180px;
  top: 140px;
}

.buttons-banner {
  display: flex;
  position: relative;
  top: 10px;
  left: 30px;
  width: 40vw;
}

.button-banner-1 {
  position: relative;
  right: 30px;
}
.banner1-title{
  position: relative;
  bottom: 15px;
}


$numberOfElements: 4;
$fontSize: 30px;

.center-banner {
  color: white;
	margin-top: ($fontSize * 1.5) / -2;
  width: 200px;


  .carousel-banner {
    position: relative;
    width: 300px;
    text-align: center;
    font-size: $fontSize;
    line-height: $fontSize * 1.5;
    height: $fontSize * 1.5;

    .pre-banner {
      position: relative;
      right: 60px;

    }

    .change_outer-banner {
      text-align: left;
      height: $fontSize * 1.5;
      overflow: hidden;
      position: relative;
      bottom: 43px;
      left: 187px;

      .change_inner-banner {
        position: relative;
        animation: rotate 10s ease-in-out infinite;
      }

      .element-banner {
        display: block;
        font-weight: 800px;
      }

    }

  }

  @keyframes rotate {
    0%, 20% {
      transform: translateY(0);
    }
    25%,45% {
      transform: translateY($fontSize * -1.5);
    }
    50%,70% {
      transform: translateY($fontSize * -3);
    }
    75%,95% {
      transform: translateY($fontSize * -4.5);
    }
    100% {
      transform: translateY($fontSize * -6);
    }
  }
}
