
.banner3 {
  height: 30vh;
  width: 100vw;
  background-color: black;
  display: inline-flex;
  margin-top: -180px;
}

.banner3 h1, .banner3 h2, .banner3 h4 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.banner3 p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.text-banner3 {
  position: relative;
  bottom: 100px;
  left: 120px;
}

.button-banner3 {
  position: relative;
  top: -90px;
  left: -150px
}

.fa-heart {
  color: #D23333;
}
