
.banner2 {
  height: 40vh;
  width: 80vw;
  background-color: black;
  display: inline-flex;
}

.banner2 h5, .banner2 h2, .banner2 h4 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  position: relative;
  top: 120px;
}

.banner2 p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.text-banner2 {
  position: relative;
  left: 80px;
  bottom: 80px;

}

.button-banner2 {
  position: relative;
  top: 130px;

}

.banner2-animation {
  position: relative;
  bottom: 200px;
  left: 88px;
  height: 20vh;
}
