.banner {
  background-image: url("banner.jpeg");
  background-color: black;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.banner h1, .banner h2, .banner h3 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}


.banner-container {
  display: flex
}

.text-banner {
  position: relative;
  top: 250px;
  right: 0px;

}

$numberOfElements: 4;
$fontSize: 30px;

.center-banner {
  position: relative;
  right: 123px;
  top: 12px;
	margin-top: ($fontSize * 1.5) / -2;
}

.carousel-banner {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: $fontSize;
	line-height: $fontSize * 1.5;
	height: $fontSize * 1.5;

	.pre-banner {
		position: absolute;
		top: 0;
		right: 76.5%;
	}

	.change_outer-banner {
		position: absolute;
		top: 0;
		left: 24%;
		text-align: left;
		height: $fontSize * 1.5;
		overflow: hidden;

		.change_inner-banner {
			position: relative;
			animation: rotate 10s ease-in-out infinite;
		}

		.element-banner {
			display: block;
			font-weight: 700;
		}

	}

}

@keyframes rotate {
	0%, 20% {
		transform: translateY(0);
	}
	25%,45% {
		transform: translateY($fontSize * -1.5);
	}
	50%,70% {
		transform: translateY($fontSize * -3);
	}
	75%,95% {
		transform: translateY($fontSize * -4.5);
	}
	100% {
		transform: translateY($fontSize * -6);
	}
}
