.btn-ghost {
  color: #568FB3;
  border: 2.5px solid #568FB3;
  padding: 20px 50px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  background-color:#568FB3;
  color:black;
  opacity: 1;
}
