.btn-ghost {
  color: #568FB3;
  border: 2.5px solid #568FB3;
  padding: 20px 50px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  background-color:#568FB3;
  color:black;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
