.btn-ghost-inverted {
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 170px;
  height: 60px;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.btn-ghost-inverted:hover {
  background-color:#568FB3;
  color:white;
  opacity: 1;
  border: 0.5px solid #568FB3;
}
