.btn-ghost {
  color: #568FB3;
  border: 1px solid #568FB3;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  background-color:#568FB3;
  color:black;
  opacity: 1;
}
