.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin: 0px 60px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  font-size: 40px;
}

#navbarSupportedContent {
  font-size: 30px;
  font-style: bold;
}

#navItemLayout {
  color: rgba(255, 255, 255, 1);
  &:hover {
    color: #568FB3;
  }
}
