.bg-img{
    background-image: url('banner.jpg');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: fixed;
    min-height: 100vh;
    filter: blur(9px)
}


.form-label {
  margin-top: 15px;
  padding: 10px;
}
.form-control{
  //width:30%;
  padding: 10px;
}
.form-select {
  background-color: rgba(0,0,0, 0.65);
  padding:10px;
  //width: 30%;
}
.heading-container {
  background-color: rgba(0,0,0, 0.45);
}

.raffle-container {
  justify-content: space-between;
  .form-label {
    margin-top: 15px;
    padding: 10px;
  }
  .form-control{
    //width:30%;
    padding: 10px;
  }
}
.raffle-information {
  padding: 15px;
  border-radius: 9px;
  border: 1px solid rgba(255,255,255, 0.2);
  background-color: rgba(0,0,0, 0.65);
  box-shadow: 2px 2px 3px 0px rgba(255, 255, 255, 0.3);
}

.raffle-img {
  object-fit: cover;
  border-radius: 9px;
  box-shadow: 2px 2px 3px 0px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;

  .raffle-item-icon>img {
  object-fit: cover;
  border-radius: 9px;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 70px;
  height:70px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  }
}

@media (min-width: 768px){
.md\:w-2\/3 {
    width: 66.666667%!important;
}}
@media (min-width: 768px){
.md\:w-1\/3 {
    width: 33.333333%!important;
    margin-right: 2rem!important;
    input {
      width: 50%;
    }
    align-content: center;
    flex-direction: column;
}}

.raffle-show {
  color: white;
  width: 100%;
  min-height: 80vh;
  position:relative;
  margin-top: 75px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;

  .raffle-show-l {
    display: flex;
    flex-direction: column;
  }

  .raffle-show-r {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 120px;
  }

  .simple-form-raffle {
    width: 350px;
    position: relative;
    top: 120px;

  }
  .border-form-raffle {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
  .raffle-info {
    margin-top: 0px;
    position: relative;
    right: 20px;
    bottom: 20px;

  }

  .share-raffle a {
    font-size: 30px;
    color:white;
    padding: 10px;

  }

  .share-raffle a:hover {
    color: #568FB3
  }

  .raffle-default-values1 {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 80px;
  }

  .raffle-default-values2 {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 80px;
  }

  .raffle-special-value {
    position: relative;
    right: 55px;
  }
}

.tx-cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
}
.tx-card {
  display: grid;
  width: 100%;
  flex-direction: row;
  text-align: left;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: none;
  background-color: rgba(0,0,0, 0.2);
  padding: 15px;
  border-radius: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid rgba(255,255,255, 0.2);
  box-shadow: 2px 2px 3px 0px rgba(255, 255, 255, 0.3);
}
