.new-raffle {
  color: white;
  background-color: #4d4d4d;
  height: 48vw;
  margin: auto;
  width: 40%;
  padding: 30px;
  border-radius: 5px;


  .new-raffle-content {
    display: flex;
    justify-content: space-around;

  }
}
