.searchbar-container {
  margin-left: 70px;

  .searchbar {
    max-width: 320px;
  }

  .searchbar_btn {
    width: 30px;
    height: 25px;
    border: none;
  }

  .input-group-text {
    border-radius: 0px 9px 9px 0px;
  }

  .form-control {
    border-radius: 9px 0px 0px 9px !important;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.6);
  }

}
