.bg-img{
  background-image: url('banner.jpg');
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  position: fixed;
  min-height: 100vh;
  filter: blur(9px)
}
