<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3 form">
      <div class="p-3">
        <h3>Donate</h3>
        <%= simple_form_for [@creator, @transaction] do |f| %>
          <%= f.input :tk_amount %>
          <%= f.association :token,
                            collection: @user_tokens,
                            label_method: :nickname %>
          <div class='d-flex' style='justify-content: space-between;'>
          <%= f.button :submit, 'Donate', class: 'btn btn-ghost' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
